:root {
    --bg-dark: #0E0A16;
    --bg-footer: #0E0A26;
    --color-primary: #9275A8;
    --color-gradient: linear-gradient(90deg, #ff6ec4, #7873f5);
    --border-color: #3E0A66;
    --highlight-color: #62C200;
    --font-main: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    background-color: var(--bg-dark);
    color: lightgray;
}

header {
    background-color: var(--bg-dark);
    height: 55px;
   -- position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    border-bottom: 0.5px solid var(--border-color);
    margin-left: 200PX;
  margin-right: 200PX;
}

nav a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--color-primary);
    padding: 0 15px;
    transition: color 0.3s ease;
}

nav a:hover {
    color:  #7873f5;
}

section {
    padding: 80px 20px;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
}

h1, h2 {
    background: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 50px;
}

#welcome-section{
  height: 80vh;

}
#welcome-section h1{
padding-top: 60px;
}


#welcome-section p {
    color: #A675A1;
    font-size: 1.6em;
    font-style: italic;
    margin-top: 15px;
    
}

#projects img {
    max-width: 300px;
    padding: 10px;
    border: 1px solid var(--border-color);
    transition: transform 0.3s ease;
}

#projects img:hover {
    transform: scale(1.05);
}

#contact a {
    color: var(--color-primary);
    display: block;
    margin-top: 10px;
    transition: color 0.3s ease;
    text-decoration: none;
}

#contact a:hover {
    color: #7873f5;
}
.tech-icons {
    font-size: 30px;
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

footer {
    background-color: var(--bg-footer);
    padding: 20px;
    border-top: 2px solid var(--highlight-color);
    text-align: center;
    position: relative;
}

/* Responsivo */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 2.5em;
    }

    #projects img {
        max-width: 90%;
    }
}
